html, body {
	margin:0;
	padding:0;
	height: 100%;
	overflow: ;
}

#map {
	height: auto !important;
	min-height: 100%;
    height: 100%;
    position: relative;
	
	margin-right: 250px;
}

#sidebar {
	width:250px;
	position: absolute;
	top:0px;
	bottom:0px;
	right:0px;
	
	
	background:#1B1B1B;
	
	font-family:'Ubuntu Mono', sans-serif;
	font-size:11px;
	line-height:1.2em;
	color:#FFF;
}

div#miniMap {
	border: 1px solid #313131;
	position: relative;
	top:0px;
	right:0px;
	margin:5px;
	background-image:url("../img/overviewMap.png"); width: 215px; height: 180px; left: 5px;
}
div#overviewRect { position:relative; top:0px; left:0px; border: 1px solid #ff6360; width:20px; height: 20px; }


#loader {
	
}
#loader img {

	float:left;
	margin:10px;
}
#loader .label {
	float:left;
padding-top: 11px;
}

#incidentHistory {

	width:250px;

	position: absolute;
	top:200px;
	bottom:0px;
	
	overflow-y:scroll;
}

#incidentHistory .incidentOuter {
	height:0px;
}
#incidentHistory .incidentInner {
	padding:10px;
	background: #222;
	border: 1px solid #313131;
	margin:10px 10px 0px 10px;
	position:relative;
	cursor:pointer;
	top:-150px;
	color: #505050;
	clear:both;
}
#incidentHistory .active .incidentInner {
	padding:10px;
	background: #3C3C3C;
	border: 1px solid #474747;
	color: #F0F0F0;
	
}
#incidentHistory .incidentInner .name {
	font-weight:700;
	width: 73px;
	float:left;
}

#incidentHistory .incidentInner .val {
	font-weight:normal;
}

#incidentHistory .separator {
	height:1px;
	background: black;
	border-bottom: 1px solid #3C3C3C;
	margin-top:5px;
	margin-bottom:5px;
}

#incidentHistory .active .separator {

	background: #333;
	border-bottom: 1px solid #525252;

}


#prevButton, #nextButton {
	display:none;
}